* {
  box-sizing: border-box;
}

/* Style the search field */
div.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 30%;
  background: #f1f1f1;
}

/* Style the submit button */
div.example button {
  float: left;
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

div.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
div.example::after {
  content: "";
  clear: both;
  display: table;
}